[submodule "plugged/ale"]
	path = plugged/ale
	url = https://github.com/dense-analysis/ale

[submodule "plugged/LanguageTool.nvim"]
	path = plugged/ale
	url = https://github.com/vigoux/LanguageTool.nvim

[submodule "plugged/dart-vim-plugin"]
	path = plugged/ale
	url = https://github.com/dart-lang/dart-vim-plugin
